:root{
    --primary:#EAE8FF;
    --primaryDark:#2D3142;
    --light:#D8D5DB;
    --accent:#B0D7FF;
}

body{
    margin:0;
    background-color:var(--primaryDark);
    color:var(--light);
    text-align: center;
    display:flex;
    flex-direction: column;
    height:100vh;
}

h1,h2,h3{
    font-family: 'Coda', cursive;
}

p{
   font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}
.main-container h1{
    font-family: 'Permanent Marker', cursive;

}

header h1,h3{
    font-size: 30px;
}
header h2{
    font-size: 100px;
}

header p{
    font-size: 25px;
}

.card-container{
    display: flex;
    justify-content: center;
align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    
}



.card1 h2 {
    font-size: 20px;
}
.card1 h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    color: red;
}
.card2 h2{
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    color: red;
}
.card2 #Picture1{
          height: 65%;  
    width: 25%;
}

    .card2 #Picture2{
        height: 45%;
        width: 40%;
    }



.card{
    width:500px;
    padding: 25px;
    border-left: solid 1px var(--accent);
    border-right: solid 1px var(--accent);
    border-top:solid 1px transparent;
    border-bottom:solid 1px transparent;
    margin-left: 15px;
    margin-right: 15px;
    box-sizing: border-box;
    transition: border 500ms;
}

.card:hover{
    border-top:solid 1px var(--accent);
    border-bottom:solid 1px var(--accent);
}

footer{
    margin-top: 50px;
    background-color: var(--primary);
    color: var(--primaryDark);
    width: 100%;
    flex: 1;
    display:flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 1030px) {
    body{
        background-color: red;
    }
}
.card-container{
    flex-direction: column;
}
.class{
    width: 80%;
}

@media(max-width: 530px) {
    .card img {
        width: 80%;
        height: initial;
    }
}